body {
  margin-left: 20px;
}

.chat {
  background-color: aliceblue;
  padding: 10px;
  display: inline-block;
  border-radius: 16px;
}

.msg {
  background-color: dodgerblue;
  color: white;
  padding: 5px 15px;
  border-radius: 16px;
}
