<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write a new chat</title>
  </head>
  <body>
    <h3>Write a new chat</h3>
    <form method="post" action="/chats">
      <input type="text" name="from" placeholder="Who are you?" id="" />
      <br /><br />
      <textarea
        name="msg"
        id=""
        placeholder="Write your msg here .."
      ></textarea>
      <br /><br />
      <input type="text" placeholder="add reciever" name="to" id="" />
      <br /><br />
      <button>Create chat</button>
      <br /><br />
    </form>
  </body>
</html>
